@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


body {
    font-family: 'Noto Sans JP';
    background-color: rgb(48, 51, 54);
}

h1 {
    font-family: 'Sriracha', cursive;
    margin-top: 30px;
    color:  red;
    font-size: 50px;
}

.para {
    color: white;
    margin-top: 20px;
}

.options {
    margin-top: 40px;
}
 
.sliderText {
    position: relative;
    left: 20px;
    bottom: 15px;
    color: white;
}

.board {
    background-color: white;
    border-style: solid;
    border-width: 10px;
    border-color: red;
    width: 500px;
    height: 521px;
}

.grid {
    border-style: solid;
    border-width: thin;
}

#colorText {
    position: relative;
    bottom: 5px;
    left: 70px;
    color: white;
}

#ColorInput {
    position: relative;
    left: 42px;
}
